*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "mr";
    user-select: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header{
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.header__content-top{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
}

.header__content-top-nav{
    grid-column: 6/7;
}

.header__content-top ul{
    display: flex;
    align-items: center;
}

.btn{
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    padding: 18px 15px;
    font-family: 'mb';
    transition: 500ms;
    border-bottom: 4px solid transparent;
}

.btn:hover{
    border-bottom: 4px solid white;
}


.top__logo{
    padding: 6px 15px 6px 0;
}

.mini{
    margin: 22px 0 22px 25px;
    transition: 600ms;
}

.mini:hover{
    transform: scale(1.3) rotate(10deg);

}

.header__content-bottom{
    height: 700px;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #151515 100%), url(../img/Header.png) no-repeat center /cover;
   /*  background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

img{
    transition: 400ms;
}

div{
    transition: 400ms;
}

@keyframes loop {
    0%{

    }


}


.Prosto{
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
    font-family: 'main';
    margin-bottom: 38px;
    transition: 500ms;
}




.source{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px;
    transition: 500ms;
    
}

.source:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 2px white;
    
}

/* .source::before{
    content: "";
    display: block;
    background: linear-gradient(70deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;  
    background-size: 400%;
    animation: soos 8s linear infinite ;
    border-radius: 10px;
    filter: blur(20px);
}

@keyframes soos{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }   
} */

.source span{
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171718;
    margin-right: 11px;
}

.main{
    background: #151515 ;
    padding-top: 30px;
}

.main__content p{
    padding: 33px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;;
}

.item{
    display: flex;
    
}

.item-second{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-second p{
    margin-left: 87px;
}

.item-third{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-third p{
    max-width: 333px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;   
    color: #FFFFFF;
    font-family: 'mb';
}

#left_content{
    text-align: right;
}


.lines{
    padding: 50px 86px 0 88px;
    position: relative;
}

.lines::before{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    left: 0px;
    top: 50%;
    background: #ffffff;
    position: absolute;
    
}

.lines::after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    right: 0px;
    top: 50%;
    background: #ffffff;
    position: absolute;
}

.lines a IMG{
    transition: 400ms;
}

.main__content-bottom{
    padding: 80px 0 55px 0;
    display: flex;
    justify-content: space-between;
}

.main__bottom-item{
    padding: 15px 0;
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
}

.main__bottom-item:hover{
    transform: scale(1.1);
}

.main__bottom-item h3{
    font-size: 20px;
    line-height: 24px;    
    color: #000000;    
    font-family: 'mb';
}

.main__bottom-item img{
    margin: 10px 0;
}

.main__bottom-item p{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.choose{
    background: #151515;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 57px;
    transition: 500ms;
}

.choose:hover{
    color: #151515;
    background: #f5deb3;
}

.footer{
    background: #282828;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    padding: 81px 0;
}

.footer__content ul li{
    display: inline-block;
}

.card{
    margin-left: 30px;
    transition: 500ms;
}

.card:hover{
    transform: scale(1.1);
}


.logo__bottom{
    transition: 500ms;
}

.logo__bottom:hover{
    transform: rotate(-20deg);
}

/* Footer end */




/* Mobile start */


@media(max-width: 1160px){
    .main__content-bottom{
        flex-flow: wrap;
        gap: 30px;
        justify-content: center;
    }
    .footer__content{
        padding: 81px 15px;
    }
    .header__content-top{
        padding: 0 15px
    }
    .item-third p{
        margin: 15px;
    }
}

@media(max-width: 920px){

    .header__content-bottom{
        background: url(../img/Header.png) no-repeat center /cover;
        height: 400px;
    }


    .main__content{
        padding: 0 15px;
    }
    .item{
        flex-direction: column;
        align-items: center; 

    }
    .item-second{
        flex-direction: column-reverse;
        align-items: center;
    }
    .item-third{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px ;
    }
   
    .lines{
        padding: 50px;
    }   
    .lines::before {
        content: "";
        display: block;
        width: 1px;
        height: 60px;
        left: 50%;
        top: 0;
        background: #ffffff;
        position: absolute;
    }
   
    .lines::after {
        content: "";
        display: block;
        width: 1px;
        height: 60px;
        right: 50%;
        top: 88%;
        background: #ffffff;
        position: absolute;
    }

    .lines a img{
        transform: rotate(90deg);
    }  
    .Prosto{
        font-size: 56px;
    }
}

@media(max-width: 640px){
    .footer__content ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer__content{
        justify-content: center;
        gap: 50px;
    }
    .footer__content ul li a{
        padding: 0;

    }
    .card{
        margin: 0px;
    }
    .footer__content nav{
        display: flex;
        gap: 15px;
    }


    .item img{
       max-width: 100%;
    }
    .item-second img{
        max-width: 100%;
    }
    .item-second p{
        margin: 0px;
        padding: 0 10px 15px 10px;
    }
    .item-third img{
        max-width: 100%;
    }
    .item-third p{
        padding: 10px;
        text-align: center;
    }
    #left_content{
        text-align: center;
    }
    .Prosto{
        font-size: 40px;
    }


}


@media(max-width: 450px){
    .footer__content{
        flex-direction: column;
        align-items: center;
    }
    .footer__content ul{
       
        flex-direction: row;
        
    }

    .header__content-bottom{
        background: url(../img/Header.png) no-repeat center /cover;
        height: 300px;
    }

    .logo__bottom{
        transform: scale(1.5);
    }
    .header__content-top ul {
        display: flex;
        align-items: center;
       
      }
      .header__content-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .header__content-top a img{
          transform: scale(1.8);
          margin:30px ;
      }

      .header__content-top ul li a{
          padding: 10px;
      }
}
/* Mobile end */